.title{
    font-family: Roboto;
    font-weight: 60px;
    font-size: 20px;
}

.list{
    display: flex;
    overflow-x: hidden;
    padding-bottom: 30px;
    scrollbar-color: transparent;
    scrollbar-width: thin;
}

.list:hover{
    overflow-x: scroll;
}

.tvShowListItem{
    margin-right: 20px;
}
